@charset "UTF-8";
*{
	font-family:"黑体";
}

.main{
	margin:0 auto;
	display:inline;
}

.shownumber{
	width:100%;
	margin:0 auto;
	text-align:center;
	font-size:40;
	margin-top:200px;
}

.space{
	height:200px;
}

.control{
	text-align:center;
}